.contactsArea {
    position: fixed;
    bottom: 0;
    right: 50%;
}

.arrow{
    background-color: cadetblue;
    margin-left: 50px;
    height: 30px;
    width: 50px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    width: 150px;
    height: 50px;
    -webkit-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}

.contacts.closed {
    height: 0px;
}