.contactsArea {
    position: fixed;
    bottom: 0;
    right: 50%;
}

.arrow {
    background-color: cadetblue;
    margin-left: 60px;
    height: 40px;
    width: 60px;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
    border: none;
    cursor: pointer;
}

.arrow:hover {
    border: 3px teal solid;
}

.contacts {
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    width: 180px;
    height: 50px;
    -webkit-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
    border-radius: 10px 10px 0 0;
}

.contact_link {
    margin: 5px;
}

.contacts.closed {
    height: 0px;
}