.header_tabs {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-flex;
    height: 75px;
    background-color: #282c34;
}

.name {
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-satrt;
    font-size: 20px;
    color: white;
}

.mail {
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    font-size: 12px;
    color: white;
}

.tabs {
    width: 80%;
}

.headTab {
    height: 100%;
    width: 25%;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background-color: #282c34;
    color: white;
}

.headTab:hover {
    border: 5px teal solid;
    border-top:  none;
}

.headTab.selected {
    border: 5px navy solid;
    border-top:  none;
}