.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a{
  color: white;
}
a:hover {
  color: teal;
}