.projects {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
}

.projectLink {
    color: white;
}

.githubLink {
    color: turquoise;
    margin-top: 20px;
}