.header_tabs {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-flex;
    height: 75px;
    background-color: #282c34;
}

.name {
    min-width: 10%;
    font-size: 24px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    color: aqua;
    background-color: gray;
}

.name.roundy {
    border-radius: 0 0 25px 0;
}

.mail {
    min-width: 10%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    background-color: gray;
}

.mail.roundy {
    border-radius: 0 0 0 25px;
}

.tabs {
    width: 80%;
    background: linear-gradient(gray 50%, #282c34 50%) no-repeat;
}

.headTab {
    height: 100%;
    width: 25%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: gray;
}

.headTab:hover {
    background-color: black;
}

.about.About, .experience.Experience, .softwareskills.SoftwareSkills, .education.Education {
    background-color: #282c34;
    border-radius: 25px 25px 0 0;
}

.about.Experience, .experience.SoftwareSkills, .softwareskills.Education {
    border-radius: 0 0 25px 0;
}

.experience.About, .softwareskills.Experience, .education.SoftwareSkills {
    border-radius: 0 0 0 25px;
}


@media only screen and (max-width: 960px) {
    .tabs {
        width: 100%;
    }

    .name {
        display: none;
    }

    .mail {
        display: none;
    }
}