.side_bar {
    width: 20vw;
    height: 100vh;
    top: 0;
    position: sticky;
    background-image: url('../../public/bg_sumela.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.name {
        width: 20vw;
    color: #eee;
    text-align: center;
}

.mail {
    width: 20vw;
    color: #eee;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.tabs {
    width: 100%;
}

.headTab {
    height: 40px;
    width: 90%;
    margin-left: 10%;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    color: #eee;
}

.headTab.selected {
    background-color: #eee;
    color: #104020;
    border-radius: 20px 0 0 20px;
}
.headTab:hover {
    background-color: #eee;
    color: #104020;
    border-radius: 20px 0 0 20px;
}


@media only screen and (max-width: 960px) {
}