.side_bar {
    width: 25vw;
    height: 100vh;
    top: 0;
    position: sticky;
    background-image: url('../../public/bg_sumela.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.name {
    text-align: center;
    margin: 20px;
}

.name img {
    border-radius: 50%;
}

.mail {
    width: 25vw;
    color: #eee;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.tabs {
    width: 100%;
}

.headTab {
    height: 40px;
    width: 90%;
    margin-left: 10%;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    color: #eee;
}

.headTab.selected, .headTab:hover {
    background-color: #eee;
    color: #104020;
    border-radius: 20px 0 0 20px;
}


@media only screen and (max-width: 960px) {
}